@media only screen and (max-width: 750px){

    .container__menu{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
    }
    .list__items,
    .menu__titulo{
        align-items: center;
        text-align: center;
    }
    .carta__imgs{
        display: none;
    }

}