
.derechos{
    background: url(/assets/imgs/texturaMadera2.png) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
.derechos img{
    width: 100px;
    height: 100px;
    padding-bottom: 2rem;
}
.derechos h3{
    color: aliceblue;
    font-size: 1.6em;
    font-weight: bold;
}