.contacto{
    padding: 1rem 0;
}
.contacto__container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: .5rem;  
}
.contacto__container__info{
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}
.info__ico img{
    width: 40px;
    height: 40px;
}
.contacto h3{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}